---
import { Code } from "@astrojs/starlight/components";

type CodeProps = Parameters<typeof Code>[0];

interface Props {
	code: string;
	lang?: CodeProps["lang"];
	inline?: boolean;
	class?: string;
}

const props = Astro.props;
const lang: CodeProps["lang"] = props.lang ?? "ts";

const codeClass = `${props.inline ? "inline [&_figure]:!inline [&_pre]:!inline-flex [&_pre]:!border-none [&_code]:!py-1 [&_.code]:!pr-2 [&_.code]:!pl-1 [&_pre]:!rounded-none" : ""} ${props.class}`;
---

<div class=`${props.inline ? "inline" : "block"} dark:hidden`>
	<Code {...props} class={codeClass} lang={lang} />
</div>
<div class=`hidden ${props.inline ? "dark:inline" : "dark:block"}`>
	<Code {...props} class={codeClass} lang={lang} />
</div>
