---
import { Code } from "astro:components";

type CodeProps = Parameters<typeof Code>[0];

interface Props {
	code: string;
	lang?: CodeProps["lang"];
	inline?: boolean;
	class?: string;
}

const props = Astro.props;
const lang: CodeProps["lang"] = props.lang ?? "ts";

const themes = {
	dark: "vesper",
	light: "material-theme-lighter",
} satisfies Record<string, CodeProps["theme"]>;

const codeClass = `${props.inline ? "" : "rounded-xl !border-1 max-h-[35rem]"} ${props.class}`;
---

<div class=`${props.inline ? "inline" : "block"} dark:hidden`>
	<Code {...props} class={codeClass} lang={lang} theme={themes.light} />
</div>
<div class=`hidden ${props.inline ? "dark:inline" : "dark:block"}`>
	<Code {...props} class={codeClass} theme={themes.dark} lang={lang} />
</div>
